
/* body styles */
body {
    font-family:'Montserrat', sans-serif;
    background-color: #f5f7fa;

}
.project-title{
    font-size: 16px;
}
/* about styles */
.about{
    margin-bottom: 40px;
}

.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;;

}
.about-position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;;
}
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* main styles */
.main {
    display:flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
.main-content{
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding:105px 90px;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.project{
    margin-bottom:50px;
}
.project-list{
    padding: 0px;
    margin-left: 15px;
}
.project-item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project, .project-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project-link{
    margin-left: 10px;
}
.project-bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.organization{
    color: #FB6D3A;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.work-list{
    padding: 0px;
    margin-left: 15px;
}
.work-list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    
}
/* sidebar styles */
.photo {
    width:370px;
    padding-bottom: 50px;
}
.contacts, .skills{
    margin-left:40px;
}
.contacts {
    margin-bottom: 50px;
    color: #FFFFFF;
}
.sidebar-title{
    color:#fff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;;
}
.sidebar{
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}
.contact-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.contact-link{
    color:#565E6A;
    margin-left:5px;
}
.skills-list{
    color: #FFFFFF;
    padding: 0;
    margin-left: 18px;
}
.skills-color{
    color:#FB6D3A;
}
.skills-text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.skills-tech, .skills-soft{
    margin-left:40px;
}
.skills-soft{
    margin-bottom: 366px;
}
